LIVE_MODE=false
RPC_URL=http://127.0.0.1:8545
CHAIN_ID=11155111
ADMIN_WALLET_ADDRESS=
OPERATOR_WALLET_ADDRESS=
REPORTER_WALLET_ADDRESS=
TREASURY_WALLET_ADDRESS=
OPERATOR_PRIVATE_KEY=
REPORTER_PRIVATE_KEY=
DEPLOYED_CONTRACT_ADDRESS=
INITIAL_PRINCIPAL_FLOOR=1000000000000000000
MAX_COMPUTE_USD=25
VIRTUALS_API_URL=
ENS_NAME=
SLICE_API_KEY=
SLICE_HOOK_URL=
SELF_PROTOCOL_API_KEY=
SELF_VERIFICATION_URL=
LOCUS_API_KEY=
LOCUS_PAYMENT_URL=
SUPERRARE_API_KEY=
SUPERRARE_MINT_URL=
